<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>add by nickname</h1>
    <form action="showbio">
        <label>nickname</label>
        <input type="name" name="nickname"><br>
        <label>GMtype</label>
        <input type="name" name="GMtype"><label>GM类型1代表邮件会显示，2代表前端获取直接操作</label><br>
        <label>gold</label>
        <input type="name" name="gold"><br>
        <label>diamond</label>
        <input type="name" name="diamond"><br>
        <input type="submit" name="">
    </form>
</body>
</html> 